.contenido-equipo {
    margin: 0;
    border: none;
}

/*Partido*/

.partido {
    table {
        border-collapse: collapse;
        border: 1px rgb(0, 0, 0) solid;
    }

    td {
        text-align: center;
    }

    img {
        display: inline-block;
        height: 45px;
    }

    span {
        display: inline-block;
        width: 15px;
        font-family: 'Golos Text'
    }
}

.partido-puntaje {
    background-color: rgb(169, 211, 171);
    border: 1px rgb(0, 0, 0) solid;
}

.partido-rojas {
    background-color: #c99a9a;
    border: 1px rgb(0, 0, 0) solid;
    height: 4px;
}

.partido-equipo {
    background-color: rgb(212, 212, 212);
    padding: 5px;
    font-family: 'Rubik';
}

.partido-final-puntaje {
    background-color: rgb(169, 211, 171);
    border: 1px rgb(0, 0, 0) solid;
}

.partido-final-rojas {
    background-color: #c99a9a;
    border: 1px rgb(0, 0, 0) solid;
    height: 50px;
}

.partido-final-equipo {
    background-color: rgb(253, 239, 38);
    padding: 5px;
    font-size: 30px;
    font-family: 'Rubik';
}

/*Copa Argentina*/

.copa-argentina-copas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}


.bloque-de-8 {
    ul {
        display: flex;
        flex-direction: column;
        gap: 97px;
    }
}

.bloque-de-8-futuros-rivales {
    display: flex;
    flex-direction: column;
    gap: 94px;
}

.bloque-de-4-futuros-rivales {
    display: flex;
    flex-direction: column;
    gap: 268px;
}

.bloque-centro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 209px;
}


/*Partido Tabla*/

.tabla-de-partidos {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;

    h3 {
        font-size: 23px;
        font-family: 'Rubik';
        text-align: center;
        border: none;
    }

    th {
        text-align: center;
        border: 1px rgb(0, 0, 0) solid;
        background-color: $fondo_elementos;
        color: $text_color_fondo_elementos;
        width: 16.6667%;
    }
}

.titulo-tabla-copa-arg{
    width: 100%;
}

.item-de-partidos {
    border: 1px rgb(0, 0, 0) solid;
    background-color: rgb(212, 212, 212);
}

.vacio-de-partidos {
    background-color: rgb(212, 212, 212);
}

.partido-lista {
    table {
        table-layout: auto;
        border-collapse: collapse;
        width: 100%;
    }

    span{
        text-align: center;
    }

    tr{
        height: 25px;
    }
}

.partido-equipo-lista-nombre {
    width: 40%-10%;
    p{
        margin: 0;
    }
}

.equipo-lista-nombre-2 {
    text-align: right;
}

.partido-equipo-lista-imagen {
    background-color: rgb(212, 212, 212);
    padding: 5px;
    font-family: 'Rubik';
    text-align: center;

    img {
        width: 35px;
    }
}

.partido-equipo-lista-nombre {
    background-color: rgb(212, 212, 212);
    padding: 5px;
    font-family: 'Rubik';
}

.partido-puntaje-lista {
    background-color: rgb(169, 211, 171);
    border: 1px rgb(0, 0, 0) solid;
    padding: 0 5px;
    border-top: none;
    width: 20px;
}

.partido-penales-lista {
    background-color: rgb(169, 172, 211);
    border: 1px rgb(0, 0, 0) solid;
    padding: 0 5px;
    border-top: none;
}

.partido-rojas-lista {
    padding: 0 5px;
    background-color: #c99a9a;
    border: 1px rgb(0, 0, 0) solid;
    border-bottom: none;
    height: 4px;
}


/*Copa de la Liga*/

.copa-de-la-liga-copas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    margin: 0;
}


.titulo-copa-de-la-liga {
    align-self: center;
}


/*Liguillas*/

.titulo-liguilla{
    border-right: 1px rgb(0,0,0) solid;
    background-color: $fondo_elementos;
    color: $text_color_fondo_elementos
}

.liguillas {
    display: flex;
    justify-content: space-around;

    section {
        width: 40%;
        min-width: 350px;
    }

}

/*Torneo*/

.torneo-copa-de-la-liga {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bloque-de-4-copa-liga {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bloque-de-4-futuros-rivales-copa-liga {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bloque-de-2-copa-liga {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.partido-final-copa-liga {
    table {
        border-collapse: collapse;
        border: 1px rgb(0, 0, 0) solid;
        height: 200px;
        width: 100%
    }

    td {
        text-align: center;
    }

    img {
        display: inline-block;
        height: 100px;
    }

    span {
        display: inline-block;
        width: 30px;
        font-size: 40px;
        font-family: 'Golos Text';
    }

}

.tabla-de-partidos-copa-de-la-liga {
    width: 100%;
    align-self: center;

    table {
        border-collapse: collapse;
        width: 100%;
    }

    tr {
        border: 1px rgb(0, 0, 0) solid;
    }

    h3 {
        font-size: 23px;
        font-family: 'Rubik';
        text-align: center;
        border: none;
    }

    th {
        text-align: center;
        border: 1px rgb(0, 0, 0) solid;
        background-color: $fondo_elementos;
        color: $text_color_fondo_elementos;
        width: 25%;
    }
}

/*Otras Copas*/

.otras-copas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.otras-copas-copas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.copa-de-campeones {
    padding-top: 40px;
}

.copas-bloque {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;

    div {
        height: 94px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.partido-otras-copas {
    width: 100%;
    table {
        border-collapse: collapse;
        background-color: rgb(253, 239, 38);
    }
}

.partido-equipo-otras-copas {
    padding: 5px;
    font-family: 'Rubik';
    width: 50%;
}

.partido-puntaje-otras-copas {
    background-color: rgba(169, 211, 171, 0.589);
    border: 1px rgb(0, 0, 0) solid;
    padding: 7px 5px;
}

.partido-rojas-otras-copas {
    padding: 0 5px;
    background-color: #c99a9a91;
    border: 1px rgb(0, 0, 0) solid;
    height: 4px;
}

/*Ranking de Copas*/

.ranking-copas {
    margin-top: 20px;
    padding-bottom: 10px;
    width: 100%;
}