@media (max-width: 1120px) {
    .solo-mas-1120px{
        display: none;
    }

    .solo-menos-1120px{
        display: block;
    }
}

@media (max-width: 1070px) {
    .bloque-de-4-copa-liga{
        display: none;
    }
}

@media(max-width: 1060px){
    .solo-mas-1060px{
        display: none;
    }

    .solo-menos-1060px{
        display: block;
    }
}

@media(max-width: 1040px){
    .solo-mas-1040px{
        display: none;
    }

    .solo-menos-1040px{
        display: block;
    }
}


/*900px para carusel y proximo Partido*/

@media (max-width: 900px) {

    /*General*/

    .fondo-pasto{
        background-image: none;
    }

    .menos-de-900px{
        display: block;
    }

    .contenido {
        margin: 0;
        border: none;
    }

    .mas-de-900px{
        display: none;
    }
    /* Index */


    /* Proximo Partido */

    .proximo-partido-item {

        img {
            width: 200px;
        }

        .proximo-partido-item h3 {
            width: 200px;
            text-align: center;
        }

        .vs {
            display: flex;
            justify-content: center;
        }

        .v {
            align-self: self-start;
            right: -20px;
            bottom: 10px;
        }

        .s {
            align-self: self-end;
            left: -20px;
            top: 10px;

        }
    }

    /* Trofeos */

    /* Expositori de Trofeos */

    .contenido-carusel {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        section {
            width: fit-content;
        }

        .texto-ficha {
            position: absolute;
            height: 100%;
            background-color: rgba(22, 22, 22, 0.493);
            width: 100%;

            h4,
            h3 {
                color: rgb(126, 206, 182);
            }

            span,li{
                color:rgb(231, 209, 5);
                font-weight: 600;
            }
        }

        .fichas_trofeo {
            width: min-content;
            display: flex;
            position: relative;

            img {
                display: flex;
                justify-self: center;
                border: none;
            }

            section {
                width: 100%;
            }
        }
    }

    ::after {
        display: none;
    }
}

@media (max-width: 793px) {

    .bloque-de-2-copa-liga{
        display: none;
    }

    .liguillas{
        flex-wrap: wrap;
        gap: 10px;
    }
}

@media(max-width: 780px){
    .solo-mas-780px{
        display: none;
    }

    .solo-menos-780px{
        display: block;
    }
}

@media(max-width: 740px){
    .solo-mas-740px{
        display: none;
    }

    .solo-menos-740px{
        display: block;
    }
}

@media (max-width: 580px) {

    /*Utiles*/
    .solo-pc {
        display: none;
    }

    /*NavBar*/

    .navbar-mio {

        .navbar {
            display: flex;
            position: relative;

            h5 {
                color: $text_color_fondo_elementos;
            }
        }

        .navbar-toggler {
            color: $text_color_fondo_elementos;
        }

        .navbar-toggler-icon {
            background-image: url(../multimedia/varios/sanguchito.png);
        }

        .nav-lista {
            height: max-content;
            @include flex(column, space-evenly, center, wrap, 20px)
        }

        .dropdown-menu {
            border: none;

            a {
                text-align: center;
                color: $text_color_fondo_elementos;
            }
        }

        .nav-link {
            text-align: center;

            &:focus {
                color: $text_color_fondo_elementos;
            }
        }

        .offcanvas {
            background-color: rgb(23, 23, 23);
        }
    }



    /*Footer*/

    .footer-lista-mobile {
        display: flex;
        justify-content: space-evenly;
        width: 100%;


        button {
            background-color: $fondo_elementos;
            border: none;
            color: $text_color_fondo_elementos;
        }

        ul {
            background-color: $fondo_elementos;
        }

        a {
            color: $text_color_fondo_elementos;
        }
    }


    /* Fin Footer */




    /* Index */

    /* Portada */

    .incio-portada{ 
        p {
            font-size: 37px;
        }
    }



    /* Proximo Partido */

    .carusel-proximo-partido {
        display: block;
    }


    .proximo-partido-general {
        .carousel-item.active {
            display: flex;
        }
    }

    .proximo-partido-img-mobile {
        display: none;
        background-size: cover;
        background-position: center;
        flex-direction: column;
        justify-content: space-between;
        gap: 227px;
        padding: 35px 1%;

        img {
            max-width: 30%;
        }

        .proximo-partido-local {
            align-self: flex-start;
            @include flex(row,space-between,center,auto,0);
            padding-right: 10px;
            background-color: $fondo_elementos_difuminado;
            border:2px rgb(0,0,0) solid;
            height: fit min-content;
            padding: 0;
            width: 82%;
            min-width: 264px;
        }
    
        .proximo-partido-visitante {
            align-self: flex-end;
            @include flex(row,space-between,center,auto,0);
            padding-right: 10px;
            background-color: $fondo_elementos_difuminado;
            border:2px rgb(0,0,0) solid;
            height: min-content;
            padding: 0;
            width: 82%;
            min-width: 264px;
        }

        .data-local{
            background: none;
            border-top: none;
            border-right: none;
            border-left: 2px rgb(0, 0, 0) solid;
            width: 100%;
            height: 100%;
            padding: 0;
            text-align: center;
        }

        .data-visitante{
            background: none;
            border-top: none;
            border-left: none;
            border-right: 2px rgb(0, 0, 0) solid;
            width: 100%;
            height: 100%;
            padding: 0;
            text-align: center;
        }
    }

    /* Trofeos */

    .trofeos {
        align-items: center;
        width: 100%;
        border-left: none;
        border-right: none;
        border-bottom: none;

        .carusel-trofeo {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        .contenido-carusel {
            display: grid;
            grid-template-areas: 'img img'
                'flecha_izq flecha_der'
            ;
            gap: 5px;
            width: min-content;

            .carousel-item {
                grid-area: img;
                justify-self: center;
            }

            .flechas-trofeos-izq {
                grid-area: flecha_izq;
                background-color: $fondo_elementos;
            }

            .flechas-trofeos-der {
                grid-area: flecha_der;
                background-color: $fondo_elementos;
            }
        }
    }


    /* Carusel Trofeos */

    /* Fin Index */

    // Inicio de Equipo

    .fondo-equipo-entrada{
        background-position: center;
    }

    .contenido-equipo{
        padding-top: 0;
    }

    .entrada_equipo{
        width: 100%;
        height: 360px;

        img{
            width: 75px;
        }

        h1{
            font-size: 37px;
            width: auto;
        }
    }

    .parte-equipo{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .tabla-liga-equipo{
        min-width: 0px;
        width: fit-content;
        padding: 0;
    }
    .sub-grupo-rival-ultimo{
        min-width: 0px;
        width: 100%;
        padding: 0 5px;
    }

    /*Fin de Equipo*/


    /*Inicio de Liga*/
    .titulo-liga {
        h1{
            font-size: 45px;
        }
    }

    .parte-liga{
        .tabla-liga{
            max-width: 420px;
            width:100%;
            min-width: 0;
        }
    }

    .fecha{
        max-width: 420px;
        width:100%;
        min-width: 0;
        
        li{
            width: 8%;
        }
        
    }

    .tabla-fechas{
        td{
            padding: 0;
        }
    }

    /*copas*/

    .tabla-celu{
        display: block;
    }

    .otras-copas-copas {
        @include flex(column, auto, center, auto, 10px);
    }

    .copa-de-campeones{
        padding: 0;
    }


    .copas-bloque{
        width: 95%;
    }

    /* Contacto*/

    form{
        padding: 10px 15px;
    }

    .botone-contacto {
        align-self: center;
    }

    .input-mobile {
        display: block;

        &::placeholder {
            color: $text_color_fondo_elementos;
        }

        &:focus::placeholder {
            color: rgba(42, 138, 109, 0.397);
        }
    }

}

@media (max-width: 435px) {
    .solo-menos-435px{
        display: block;
    }

    .solo-mas-435px{
        display: none;
    }
}



@media (max-width: 340px){

    .solo-menos-340px{
        display: block;
    }

    .solo-mas-340px{
        display: none;
    }


    .footer-lista-mobile{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .incio-portada{
        img{
            height: 280px;
            width: 280px;
        }
    }
    

    .tabla-fechas{
        th{
            padding: 0;
        }
    }

    .trofeos {
        .fichas_trofeo{
            border-right: none;
            border-left: none;
            img{
                width: 280px;
            }
        }
    }

    .parte-equipo{
        flex-wrap: nowrap;
    }

    .sub-grupo-rival-ultimo{
        padding: 0;
    }

    .tabla-liga{
        table{
            border-left: none;
            border-right: none;
        }
    }

    .tabla-equipo{
        .solo-menos-340px{
            display: initial;
        }
    }

    .liguillas{
        section{
            width: auto;
            min-width: 0;
        }
    }
}

@media (max-width: 323px){
    .solo-menos-323px{
        display: block;
    }

    .solo-mas-323px{
        display: none;
    }

    .tabla-equipo{
        .solo-menos-323px{
            display: initial;
        }
    }
}


@media (max-width: 307px){
    .solo-menos-307px{
        display: block;
    }

    .solo-mas-307px{
        display: none;
    }

    .tabla-equipo{
        .solo-menos-307px{
            display: initial;
        }
    }
}