.fondo-pasto{
    background-image: url(../multimedia/pasto.jpg);
    background-attachment: fixed;
}

.contenido{
    background-color: rgb(154, 205, 50);
    border-right: 3px rgb(42, 58, 10) solid;
    border-left: 3px rgb(42, 58, 10) solid;
    margin: 0 50px;
}