.fondo-bombonera {
    background-image: url(../multimedia/estadios/bombonera.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fondo-monumental {
    background-image: url(../multimedia/estadios/monumental.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fondo-cilindro-de-avellaneda{
    background-image: url(../multimedia/estadios/cilindro-de-avellaneda.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fondo-dr-jorge-luis-hirschi{
    background-image: url(../multimedia/estadios/dr-jorge-luis-hirschi.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fondo-gigante-de-arroyito{
    background-image: url(../multimedia/estadios/gigante-de-arroyito.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.fondo-florencio-sola{
    background-image: url(../multimedia/estadios/florencio-sola.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}