.fondo-primer-partido{
    background-image: linear-gradient(135deg,rgb(0, 166, 216),rgb(0,0,0),rgb(0, 167, 42));
}

.fondo-segundo-partido{
    background-image: linear-gradient(135deg,rgb(216, 0, 0),rgb(0,0,0),rgb(1, 111, 185));
}

.fondo-tercer-partido{
    background-image: linear-gradient(135deg,rgb(216, 0, 0),rgb(0,0,0),rgb(216, 0, 0));
}

.fondo-cuarto-partido{
    background-image: linear-gradient(135deg,rgb(4, 0, 216),rgb(0,0,0),rgb(216, 0, 0));
}

.fondo-quinto-partido{
    background-image: linear-gradient(135deg,rgb(0, 167, 42),rgb(0,0,0),rgb(4, 0, 216));
}