.titulos{
    h1{
        font-family: 'Rubik';
        font-size:50px;
        text-align: center;
        margin: 0;
    }
    h2{
        font-family: 'Rubik';
        font-size:40px;
        text-align: center;
        margin: 0;
    }
}